* {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
    font-family: 'Archivo Black';
    background-image: url('assets/thc.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes customBounce {
    30% {
        transform: scale(1.2);
    }

    40%,
    60% {
        transform: rotate(-20deg) scale(1.2);
    }

    50% {
        transform: rotate(20deg) scale(1.2);
    }

    70% {
        transform: rotate(0deg) scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.about-logos {
    animation: customBounce 1.5s infinite;
}

.w-full button:hover .svgg path {
    fill: black;
}

.hero {
    background-image: url('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

* {cursor: url(https://cur.cursors-4u.net/nature/nat-2/nat120.cur), auto !important;} /* End https://www.cursors-4u.com */